@(dForm: Form[(String,String,String)])(implicit request: RequestHeader, messagesProvider: MessagesProvider)

@if(dForm.hasGlobalErrors) {
  <ul>
  @for(error <- dForm.globalErrors) {
    <li>@error.format</li>
  }
  </ul>
}

@import helper._

@helper.form(action = routes.GamesController.cadastro()) {
  <!DOCTYPE html>
  <html>
    
    <head>
        <link rel="stylesheet" href="css/main.css">      
    </head>
    
    
    <body>
      
      <h1> Crie seu usuario </h1>
      
          @CSRF.formField                     
          @helper.inputText(dForm("nome")) 
          @helper.inputText(dForm("email")) 
          @helper.inputPassword(dForm("senha")) 
          
          <div class="wrapper">
          <div class="btn"> 
          <form method="get" action="/games">
                <button type="submit" name="" value="" class="css3button">Cadastrar</button>
            </form>
          </div>
        </div>
    </body>
    
  </html>
}
